.logement {
  margin: 4rem 5rem;
  color: #ff6060;

  &-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;

    &_title {
      margin-bottom: 16px;
      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 3px 0;
      }
      span {
        font-size: 18px;
        margin: 3px;
      }
      .tag {
        display: flex;
        align-items: center;
      }
    }
  }
}
