.main-banner,
.about-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem 2rem;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
  }
  &__txt {
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 48px;
  }
}
